
* text=auto

*.h text eol=lf
*.hpp text eol=lf
*.inl text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.js text eol=lf
*.ver text eol=lf
*.patch text eol=lf
*.diff text eol=lf

*.rc text eol=crlf
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.vsprops text eol=crlf
*.props text eol=crlf
*.rtf text eol=crlf
*.txt text eol=crlf
*.cmd text eol=crlf

*.cfg text eol=crlf
*.csv text eol=crlf
*.dat text eol=crlf
*.abl text eol=crlf
*.fit text eol=crlf

*.dll binary
*.exe binary
*.zip binary
*.lib binary
*.a binary
*.obj binary
*.o binary
*.ani binary
*.bmp binary
*.cur binary
*.ico binary
*.jpg binary
*.png binary
*.bik binary
*.d3f binary
*.tga binary
*.txm binary
*.wav binary
*.fst binary
*.pak binary
*.fx binary


